[submodule "themes/cupper-hugo-theme"]
	path = themes/cupper-hugo-theme
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "hugo-theme-console"]
	path = hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
