{{ define "main" }}

<h1>About</h1>

<p>
A brief description of what I love most and how you can contact me. Also links to some of my projects.  <a href="about/">(read)</a>
</p>
<br/>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Latest photos</h1>

<div class="image-grid">
    <p>
        Check some of the images I have shared throughout my posts !  <a href="photos/">(view)</a>
        </p>
</div>

{{ end }}